.loading-overlay {
    position: fixed; /* Fixa o componente na tela */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa 100% da largura da tela */
    height: 100%; /* Ocupa 100% da altura da tela */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que o loading fique sobre todos os elementos */
    overflow: hidden;
}